# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron
drake-cache*
drake-cache.sqlite
drake-cache-small.sqlite
drake-cache-species-swap.sqlite
drake-cache-rats.sqlite
.drake/drake/history/db
.drake/drake/history/total
logs/workers/*
drake-cache-neon.sqlite

# mammals raw trap nights
neon_mammals/provisional_rata_raw/filesToStack10072/stackedFiles/mam_pertrapnight.csv
old/neon_mammals/provisional_rata_raw/filesToStack10072/stackedFiles/mam_pertrapnight.csv

# bird comparisons - will be huge
all_bird_comps.csv

all_bird_comps_nt.csv

analysis_walkthroughs/BOTW*
analysis_walkthroughs/ranges/species_in_bbs*

route_species_lists.csv

e_brm_short.Rds
b_brm_short.Rds
